<!DOCTYPE html>
<html>
  <head>
    <title>Forms</title>
    <script src="https://unpkg.com/vue"></script>
  </head>
  <body>
    <form id="example1">
      <input v-model="message" placeholder="edit me">
      <p>Message is: {{ message }}</p>
      
      <hr>
      <span>Multiline message is:</span>
      <p style="white-space: pre-line;">{{message}}</p>
      <br>
      <textarea v-model="message"
        placeholder="add multiple lines"></textarea>
      
      <hr>
      <input type="checkbox" id="checkbox" v-model="checked">
      <label for="checkbox">{{ checked }}</label>

      <hr>
      <input type="checkbox" id="jack" value="Jack" v-model="checkedNames">
      <label for="jack">Jack</label>
      <input type="checkbox" id="john" value="John" v-model="checkedNames">
      <label for="john">John</label>
      <input type="checkbox" id="mike" value="Mike" v-model="checkedNames">
      <label for="mike">Mike</label>
      <br>
      <span>Checked names: {{ checkedNames }}</span>

      <hr>
      <input type="radio" id="one" value="One" v-model="picked">
      <label for="one">One</label>
      <br>
      <input type="radio" id="two" value="Two" v-model="picked">
      <label for="two">Two</label>
      <br>
      <span>Picked: {{ picked }}</span>

      <hr>
      <select v-model="selected">
        <option disabled value="">Please select one</option>
        <option>A</option>
        <option>B</option>
        <option>C</option>
      </select>
      <span>Selected: {{ selected }}</span>

      <hr>
      <select v-model="selected2">
        <option v-for="option in options" v-bind:value="option.value">
          {{ option.text }}
        </option>
      </select>
      <span>Selected: {{ selected2 }}</span>

      <hr>
      <input
        type="checkbox"
        v-model="toggle"
        true-value="yes"
        false-value="no"
      >
      <span>{{ toggle }}</span>

      <hr>
      <input type="radio" v-model="pick" v-bind:value="a">
      <span>{{ pick }}</span>

      <hr>
      <select v-model="selected3">
        <option v-bind:value="{ number: 123 }">123</option>
      </select>
      <span>{{ typeof selected3 }} {{ selected3.number }}</span>

      <hr>
    </form>

    <script>
      new Vue({
        el: '#example1',
        data: {
          message: '',
          checked: '',
          checkedNames: [],
          picked: '',
          selected: '',
          selected2: '',
          options: [
            { text: 'One', value: 'A' },
            { text: 'Two', value: 'B' },
            { text: 'Three', value: 'C' },
          ],
          toggle: '',
          pick: '',
          a: 'test',
          selected3: '',
        }
      })
    </script>

    <form id="example2">
      <input v-model.lazy="msg">
      <span>{{ msg }}</span>

      <hr>
      <input v-model.number="age" type="number">
      <span>{{ age }}</span>

      <hr>
      <input v-model.trim="msg2">
      <span>{{ msg2 }}</span>
    </form>

    <script>
      new Vue({
        el: '#example2',
        data: {
          msg: '',
          age: null,
          msg2: '',
        }
      })
    </script>
  </body>
</html>